img{
    height: 500px;
    width: 500px;
}
body{
    background-color: rgb(236, 215, 233);
    color: rgb(64, 43, 88);
    text-align: center;
    font-size: 30px;
}

header{
    color: rgb(174, 114, 231);
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

footer{
    color: rgb(174, 114, 231);
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

a {
    color: rgb(122, 220, 223); 
    text-decoration: none;
 }
 
 a:visited {
    color: rgb(174, 114, 231);
 }
 
 a:hover {
     color: rgb(122, 220, 223); 
     text-decoration: underline;
     font-weight: bold;
     text-shadow: 7px 5px 2px rgb(168, 117, 190);
     transition: all 0.3s;
 }