body {
    margin: 0;
    background-color: rgb(236, 215, 233);
    color: rgb(160, 128, 196);
}

main {
    margin-bottom: 40px;
    padding: 10px;

    text-align: left;
    
}

header {
    color: rgb(174, 114, 231);
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

footer {
    color: rgb(174, 114, 231);
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

a {
    color: rgb(122, 220, 223); 
    text-decoration: none;
    font-weight: bold;
 }
 a:visited {
    color:  rgb(160, 128, 196);
 }
 a:hover {
     color: rgb(122, 220, 223); 
     text-decoration: underline;
     font-weight: bold;
     text-shadow: 7px 5px 2px rgb(168, 117, 190);
     transition: all 0.3s;
 }

.error{
    color: rgb(247, 1, 1);
    background-color: rgb(235, 223, 146);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.text_input_form{
    font-size: 24px;
    color: rgb(160, 128, 196);
    font-weight: bold;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid rgb(160, 128, 196);
    border-radius: 0.25rem;
    height: 40px;
    width: 400px;
}

.text_input_form_2{
    height: 30px;
    width: 50px;
}

.price{
    font-size: 20px;
    color: rgb(18, 143, 27);
    margin-left: 20px;
}

.pic{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -600px;
    margin-left: 55%;
    height: 600px;
}

.block_1{
    margin-left: 43%;
    margin-top: -500px;
}
.block_2{
    margin-top: 70px;
}
.block_3{
    margin-left: 33%;
    margin-top: 100px;
}
.block_4{
    margin-top: -330px;
}
.bilet{
    font-weight: bold;
}

.snow{
    color: blue;
}

.lab5{
    color: mediumvioletred;
    font-weight: bold;
    font-size: 40px;}
.bl_5_1{
    font-size: 25px;
    font-weight: lighter;
    margin-left: 300px;
    margin-top: -40px;}
.bl_5_2{
    margin-left: 600px;
    margin-top: -28px;}
.bl_5_button{
    font-size: 20px;
    color: rgb(160, 128, 196);
    font-weight: bold;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid rgb(160, 128, 196);
    border-radius: 0.25rem;
    height: 30px;
    width: 200px;}
.bl_5_button_2{
    margin-left: 1100px;
    background-color: rgb(160, 128, 196);
    color: rgb(255, 255, 255);}
.bl_5_3{
    margin-top: -25px;
    margin-left:850px;}
.bl_5_4{
    margin-top: -30px;
    margin-left: -30px;
}
.bl_5_5{
    font-weight: lighter;
    margin-left:1300px;
    margin-top: -40px;
}
.bl_5_photo_1{
    width: 300px;
    margin-top: 20px;
}
.bl_5_6{margin-top: 20px;}
.error_2{
    font-size: 20px;
    color: crimson;
    background-color: #e7b9b9;
    background-clip: padding-box;
    border-radius: 0.25rem;
    width: 400px;
    margin-top: 20px;
    text-align: center;
}

.article_1{
    text-align: center;
    border: 3px solid  rgb(160, 128, 196);
    background-color: rgb(195, 185, 226);
    height: 30px;
    width: 1100px;
}
.article_2{
    border: 3px solid  rgb(160, 128, 196);
    background-color: rgb(195, 185, 226);
    width: 1100px;
    margin-top: 20px;
}

.bl_6_button{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(160, 128, 196);
    background-clip: padding-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.25rem;
    height: 30px;}