body {
    margin: 0;
    background-color: rgb(236, 215, 233);
    color: rgb(160, 128, 196);
}

main {
    margin-bottom: 40px;
    padding: 10px;
    background-color: rgb(236, 215, 233);
    color: rgb(160, 128, 196);
    text-align: left;
    font-size: 30px;
}

header {
    color: rgb(174, 114, 231);
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

footer {
    color: rgb(174, 114, 231);
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

a {
    color: rgb(122, 220, 223); 
    text-decoration: none;
    font-weight: bold;
 }
 a:visited {
    color:  rgb(160, 128, 196);
 }
 a:hover {
     color: rgb(122, 220, 223); 
     text-decoration: underline;
     font-weight: bold;
     text-shadow: 7px 5px 2px rgb(168, 117, 190);
     transition: all 0.3s;
 }

.error{
    color: rgb(247, 1, 1);
    background-color: rgb(235, 223, 146);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.text_input_form{
    font-size: 24px;
    color: rgb(160, 128, 196);
    font-weight: bold;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid rgb(160, 128, 196);
    border-radius: 0.25rem;
    height: 40px;
    width: 400px;
}

.text_input_form_2{
    height: 30px;
    width: 50px;
}

.price{
    font-size: 20px;
    color: rgb(18, 143, 27);
    margin-left: 20px;
}

.pic{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -600px;
    margin-left: 55%;
    height: 600px;
}

.block_1{
    margin-left: 33%;
    margin-top: -500px;
}
.block_2{
    margin-top: 70px;
}
.block_3{
    margin-left: 33%;
    margin-top: 100px;
}
.block_4{
    margin-top: -330px;
}
.bilet{
    font-weight: bold;
}