{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block main %}
    <div class="lab5">База знаний</div>
    
    <form class="bl_5_4" action="/lab6/register" target="_blank"><button  class="bl_5_button bl_5_button_2">Регистрация</button></form>
    <div class="lab5 bl_5_5">{{username}}</div>
    <div  class="bl_5_1"><a href="/lab6/articles" target="_blank">Просмотреть заметки</a></div>
    <div class="bl_5_1 bl_5_2"><a href="/lab6/new_article" target="_blank">Создать заметку</a></div>
    <form class="bl_5_3" action='/lab6/login' target="_blank"><button  class="bl_5_button">Логин</button></form>

    <div ><img class="bl_5_photo_1" src="..\static\ph_5_1.png"></div>
    <form action="/lab6/logout"><input class="bl_5_button" type="submit" value="LogOut" /></form>
    <h1>Опубликованные статьи</h1> 
    <ul>
        {% for article in public_articles %}
            <a href="/lab6/articles/{{ article.id }}">{{ article.title }}</a>
            <form action="{{ url_for('lab6.like_article', article_id=article.id) }}" method="post" style="display:inline">
                <button type="submit" class="bl_6_button">Like</button>
            </form>
            <span> : {{ article.likes }}</span>
        {% endfor %}
    </ul>
{% endblock %}