<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Трубицына Алиса, Ершова Клара. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% if request.cookies.get('color') %}
    <style>
        body {
            color: {{ request.cookies.get('color') }};
            background-color: {{ request.cookies.get('background-color') }};
            font-size: {{ request.cookies.get('font-size') }};
        }
    </style>
    {% endif %}
    
    {% block script %}
        <script src="{{url_for('static',filename='lab7/drink.js')}}"></script>
    {% endblock %}

</head>
<body>
    <header>
    WEB-программирование, часть 2. {{ self.lab() }}
    </header>
    
    <main>
        {% block main %}{% endblock %}
        <a href="/menu" target="_blank">Меню</a>
    </main>

    <footer>
        &copy; Трубицына Алиса, Ершова Клара, ФБИ-12, 3 курс, 2023
    </footer>
</body>
</html>