{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
<h1>Картинки</h1>
<img src="..\static\berries.jpg" height="500px" width="500px">
<div>Малина — плод одноименного полукустарника семейства Розовые. 
    Плоды бывают красного, розового, желтого и черного цвета. 
    Их собирают зрелыми без цветоножек. 
    Впервые малина была обнаружена в Греции, на горе Иде — отсюда и её научное названи</div>

<img src="..\static\birds.jpg" height="500px" width="500px">
<div>Фламинго — это высокая и тонкая птица с длинной шеей и ногами. 
    Их ярко-розовое оперение делает их одними из самых красивых птиц в мире.
     Однако, когда фламинго рождается, его оперение бывает серым или белым.
      И только когда он достигает определенного возраста, у него появляется своя характерная окраска.</div>

<img src="..\static\flowers.jpg" height="500px" width="500px">
<div>Ярко-розовые пионы выглядят уже значительно смелее.
     В них даже есть намек на страсть и влечение. 
     Именно поэтому они считаются символом признательности и влюбленности.</div>

<img src="..\static\planets.jpg" height="500px" width="500px">
<div>Марс — планета земной группы с разреженной атмосферой (давление на поверхности в 160 раз меньше земного). 
    Особенностями поверхностного рельефа Марса можно считать ударные кратеры наподобие лунных,
     а также вулканы, долины, пустыни и полярные ледниковые шапки наподобие земных.</div>

<img src="..\static\travel.jpg" height="500px" width="500px">
<div>Каппадокия — историческая область в сердце Турции.
    Известна своими "сказочными дымоходами" — необычными конусообразными валунами, 
    разноцветными долинами и пещерной архитектурой. Одно из лучших мест в мире для полетов на воздушных шарах. 
    С 1985 года включена в список Всемирного наследия ЮНЕСКО.</div>
{% endblock %}